
.icon{

    background: black ;
    border-radius: 100%;
    color: white;
    fill: white;margin: 0 5px;
    
}
.icon:hover{

    background: white ;
    color: black;
    fill: black;
    
}

.icon svg{height: 30px;}