.tagline {background-image: linear-gradient(to right, #f14dcb 10%, #b09ffc 51%, #4e6be9 100%);
    box-shadow: 10px 10px 50px #060a11d8;
    padding: 10px 10px;
    letter-spacing: 2px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
        text-decoration: none;
        font-size: 1rem;
        overflow: hidden;
        border: 1px solid wheat;
        cursor: pointer;
}
.tagline:hover{
    background-image: linear-gradient(to right, #ca10b1 10%, #1a96fc 51%, #e714ee 100%);
   
}
.bold{font-weight: 900;font-size: 50px;}
.wrap{display: block;}

