
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/656/454/small/galaxy-center-lights-background-free-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  text-align: center;

}